@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

*::after,
*::before,
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

button,
input {
  font: inherit;
}

body {
  font-family: "Inter", sans-serif;
}

:root {
  --yellow-dark: #FDCB6E;
  --purple-dark: #6C5CE7;
  --black: #2D3436;
  --gray-light: #ADADAD;
  --white: #FFFFFF;
  --yellow-light: #FFEAA7;
  --gray-soft: #C2C2C2;
  --green-light: #55EFC4;
  --pink-dark: #E84393;
  --green-dark: #00B894;
  --blue-dark: #0984E3;
  --purple-light: #A29BFE;
  --red-light: #FF7675;
  --red: #FF0000;
  --arylide-yellow: #FDCB6E;
  --salmon: #FF7675;
  /* font sizes */

  --font-96: 6rem;
  --font-64: 4rem;
  --font-48: 3rem;
  --font-32: 2rem;
  --font-24: 1.5rem;
  --font-18: 1.125rem;
  --font-16: 1rem;
  --font-14: 0.875rem;
  --font-12: 0.75rem;

  /* padding sizes */
  --size-80: 5rem;
  --size-32: 2rem;
  --size-64: 4rem;
  --size-150: 9.375rem;
}


.btn__sign--in {
  color: var(--white);
  background-color: var(--black);
  font-size: clamp(0.63rem, calc(0.49rem + 0.65vw), 1.00rem);
  border: none;
  cursor: pointer;
  padding: 1em 2.5em;
  border-radius: 100vmax;
}

.btn__buy {
  color: var(--purple-dark);
  background-color: var(--white);
  font-size: 1rem;
  border: none;
  cursor: pointer;
  border-radius: 10px;
  border: 0.5px solid var(--gray-light);
  font-weight: 700;
  padding-inline: 5em;
  padding-block: 1em;
}


.btn--learn__more {
  color: var(--white);
  background-color: var(--purple-dark);
  font-size: 1rem;
  border: none;
  padding: 1em 2.5em;
  cursor: pointer;
  border-radius: 100vmax;
}

/* --- header --- */

header {
  height: 100px;
  display: flex;
  background-color: var(--white);
  justify-content: space-between;
  inset: 0;
  margin: 0 auto;
  align-items: center;
  z-index: 999;
}

.active {
  color: var(--black);
  font-weight: 700;
}

.container {
  width: min(1130px, 100% - 2rem);
  margin-inline: auto;
  overflow: hidden;
  overflow: -webkit-hidden;
  -ms-overflow: hidden;
  overflow: hidden \9;
}

.logo>h1 {
  font-size: clamp(0.88rem, calc(0.53rem + 1.74vw), 1.88rem);
}

nav ul {
  display: flex;
  flex-direction: row;
  gap: 40px;
}

.toggle--nav {
  display: none;
}

.toggle--nav>span {
  padding: 10px;
  margin-inline-start: 10px;
}

.logo>h1 {
  color: var(--black);
}

.mobile--nav {
  display: none;
}

.logo>h1>i {
  color: var(--purple-dark);
  margin-inline-end: 10px;
}

nav ul>li {
  position: relative;
}

nav ul>li>a {
  text-decoration: none;
  padding: 10px 15px;
  color: var(--purple-dark);
}

nav ul>li:not(:last-child)::after {
  content: "";
  width: 10px;
  height: 10px;
  position: absolute;
  background-color: var(--arylide-yellow);
  bottom: 4px;
  border-radius: 100vmax;
  margin-inline-start: 15px;
}

/* --- header end --- */

/* --- main section --- */

.content--main {
  height: 100vh + 200px;
  padding-block: var(--size-80);
  display: grid;
  grid-template-rows: 150px 1fr;
  grid-template-areas:
    "col01"
    "col02";
  justify-content: center;
  gap: 50px;
}

.content--main>.main--heading>h1 {
  font-size: clamp(1.25rem, calc(0.29rem + 4.78vw), 4.00rem);
  color: var(--black);
  font-weight: 800;
}

.main--heading {
  grid-area: col01;
  display: flex;
  flex-direction: column;
  text-align: center;
  gap: 25px;
}

.main--heading>h1>span {
  color: var(--pink-dark);
  position: relative;
  text-shadow: 0 3px var(--white);
}

.main--heading>h1>span::after {
  content: '';
  background-color: var(--green-light);
  width: 100%;
  bottom: 0;
  left: 0;
  height: 30px;
  z-index: -1;
  border-radius: 100vmax;
  position: absolute;
}

.main--heading>h3 {
  font-size: clamp(1.50rem, calc(0.98rem + 2.61vw), 3.00rem);
  color: var(--black);
  font-weight: 800;
}

.image--portion {
  grid-area: col02;
}

.grid {
  display: grid;
  grid-template-columns: repeat(2, 270px) repeat(3, 170px);
  grid-template-rows: 380px 356px;
  grid-template-areas:
    "col_01 col_02 col_02 col_03 col_03"
    "col_01 col_04 col_05 col_05 col_06";
  gap: 20px;
}

.img--item {
  border-radius: 20px;
}

.img--one {
  grid-area: col_01;
  display: flex;
  flex-flow: nowrap column;
  gap: 20px;
}

.img--one>p {
  flex: 0 1 100px;
  text-align: justify;
  color: black;
  font-size: clamp(0.63rem, calc(0.49rem + 0.65vw), 1.00rem);
}

.img--one>.arylide-yellow {
  flex: 0 1 464px;
  background-color: var(--arylide-yellow);
  padding: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  gap: 10px;
}

.img--one>.arylide-yellow h3 {
  font-size: clamp(0.63rem, calc(0.49rem + 0.65vw), 1.00rem);
}

.img--one>.arylide-yellow p {
  font-size: clamp(0.63rem, calc(0.49rem + 0.65vw), 1.00rem);
}

.img--two {
  grid-area: col_02;
}

.img--two>.green-dark {
  background-color: var(--green-dark);
  height: 100%;
  display: grid;
  place-items: center;
}

.img--two>.green-dark>h1 {
  font-size: clamp(1.00rem, calc(0.30rem + 3.48vw), 3.00rem);
  color: var(--white);
  font-weight: 800;
}

.img--three {
  grid-area: col_03;
  display: grid;
  gap: 20px;
  grid-template: auto 220px / repeat(2, 170px);
}

.img--three>p {
  font-size: clamp(0.63rem, calc(0.49rem + 0.65vw), 1.00rem);
  grid-column: 1 / -1;
  align-self: self-end;
  text-align: justify;
}

.img--three>.purple-light {
  grid-row: 2;
  background-color: var(--purple-light);
}

.img--three>.blue-dark {
  grid-row: 2;
  background-color: var(--blue-dark);
}

.img--four {
  grid-area: col_04;
  height: 63%;
}

.img--four>.pink-dark {
  background-color: var(--pink-dark);
  height: 100%;
}

.img--five {
  grid-area: col_05;
}

.img--five>.purple-dark {
  height: 100%;
  background-color: var(--purple-dark);
  display: grid;
  place-items: center;
}

.img--five>.purple-dark>h1 {
  font-size: clamp(1.00rem, calc(0.65rem + 1.74vw), 2.00rem);
  color: var(--white);
  font-weight: 800;
}

.img--six {
  grid-area: col_06;
  height: 50%;
}

.img--six>.salmon {
  background-color: var(--salmon);
  height: 100%;
}


/* --- main section end --- */


/* --- plans section --- */

.content--plans {
  height: 880px;
  display: grid;
  grid-template-rows: 150px 1fr;
  grid-template-areas:
    "col01"
    "col02";
  justify-content: center;
  gap: 50px;
  padding-block: var(--size-80);
}

.main--heading>h4 {
  font-size: 24px;
  color: var(--gray-light);
}

.main--heading h4>span {
  color: var(--purple-dark);
  position: relative;
}

.main--heading h4>span::after {
  content: '';
  position: absolute;
  background-color: var(--arylide-yellow);
  width: 100%;
  border-radius: 100vmax;
  height: 10px;
  bottom: 0;
  left: 0;
  z-index: -1;
}

.plan--cards {
  display: flex;
  gap: 20px;
  grid-area: col02;
}

.price--card {
  border-radius: 1rem;
  height: 536px;
  width: 370px;
  padding: 2rem;
  background-color: var(--white);
}

.card--item--one {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 50%;
}

.second--card {
  height: 67%;
}

.second--card-button {
  height: 33% !important;
}

.third--card {
  height: 58%;
}

.third--card-button {
  height: 42% !important;
}

.member--ship>h4 {
  color: var(--purple-dark);
  font-size: 1rem;
  margin-block-end: 8px;
}

.member--ship h3 {
  font-size: 2.5rem;
  color: var(--black);
}

.member--ship h3>span {
  font-size: 0.875rem;
  letter-spacing: 3px;
}

.card--features ul {
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.card--features ul>li>span {
  padding: 8px 9px;
  background-color: var(--gray-soft);
  border-radius: 50%;
  font-size: 10px;
  margin-inline-end: 5px;
  color: var(--black);
}

.card--features ul>li {
  color: var(--black);
}

.card--item-two {
  display: flex;
  justify-content: center;
  align-items: end;
  height: 50%;
}

.card--features .list--two>li>span {
  background-color: var(--arylide-yellow);
}

.card--features .list--three>li>span {
  background-color: var(--green-light);
}

.card--two button {
  background-color: var(--purple-dark);
  color: var(--white);
  padding-inline: 4.3em;
}

.card--three button {
  padding-inline: 4rem;
}

.price--card-two {
  position: relative;
}

.price--card:hover {
  box-shadow: -5px 5px 10px rgb(0 0 0 / 0.2);
  transition: 0.5s;
}

.price--card-two::before {
  content: '';
  background: url(wiggle.svg);
  height: 100px;
  width: 200px;
  position: absolute;
  bottom: -30px;
  left: -20px;
  z-index: -1;
}

/* --- plans section end --- */

/* --- services section --- */

.services--content .main--heading {
  text-align: start;
}

.services--content .main--heading>h1,
.services--content .main--heading>p {
  color: var(--black);
  text-align: justify;
}

.services--content {
  padding-block: var(--size-80);
  height: 700px;
  display: grid;
  grid-template-rows: 50px 1fr;
  grid-template-areas:
    "col01"
    "col02";
  gap: 150px;
}

.services {
  display: flex;
  justify-content: center;
  gap: 30px;
}

.service-card {
  height: 330px;
  width: 270px;
}

.service--items-one {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 30px;
  height: 50%;
}

.service--img>span {
  background-color: var(--pink-dark);
  padding: 14px 16px;
  color: var(--white);
  border-radius: 100vmax;
}

.service--img>span.img-two {
  background-color: var(--blue-dark);
}

.service--img>span.img-three {
  background-color: var(--purple-dark);
}

.service--img>span.img--four {
  background-color: var(--green-dark);
}

.service-name>h1 {
  color: var(--black);
}

.service-details>p {
  color: var(--black);
}

.service--items-two {
  height: 50%;
  display: flex;
  align-items: center;
  width: 100%;
}

.service-button>.btn--learn__more {
  background-color: var(--white);
  color: var(--purple-dark);
  font-weight: 700;
  border: 0.5px solid var(--gray-light);
  border-radius: 18px;
}

.services--section {
  z-index: 999;
}

/* --- services section end --- */

/* --- Media Queries --- */

@media (max-width:1200px) {
  .grid {
    grid-template-columns: repeat(2, 200px) repeat(3, 100px);
    grid-template-rows: 300px 250px;
    gap: 10px;
  }

  .services--content {
    height: 1000px;
  }

  .img--three {
    grid-template: auto 140px / repeat(2, 100px);
    gap: 10px;
  }

  .plan--cards {
    flex-wrap: wrap;
    justify-content: center;
  }

  .content--plans {
    height: 1500px;
  }

  .services {
    flex-wrap: wrap;
    justify-content: center;
  }

}

@media (max-width: 790px) {
  .content--plans {
    height: 2000px;
  }
}

@media (max-width: 700px) {
  .grid {
    transform: translateX(-30px);
    gap: 10px;
  }

  .mob--container {
    width: 100%;
  }

  .grid {
    grid-template-columns: repeat(2, 150px) repeat(3, 100px);
  }

  .img--three {
    grid-template: auto 150px / repeat(2, 100px);
  }
}

@media (max-width: 500px) {
  .grid {
    grid-template-rows: 250px 200px;
  }

  .content--main>.main--heading>h1>span::after {
    height: 10px !important;
  }

  .main--heading {
    gap: 5px;
  }
}

@media (max-width: 900px) {
  nav ul {
    gap: 5px;
  }

  nav ul>li>a {
    font-size: 14px;
  }

  nav ul>li:not(:last-child)::after {
    margin-inline: 0;
  }

  .content--main>.main--heading>h1>span::after {
    height: 20px;
  }
}

@media (max-width: 400px) {
  .content--main {
    grid-template-rows: 20px 1fr;
    gap: 0;
  }

  .grid {
    transform: translateX(30px);
  }

  .price--card {
    height: 450px;
    width: 300px;
  }

  .member--ship>h4 {
    font-size: 14px;
  }

  .member--ship h3>span {
    font-size: 10px;
    letter-spacing: 3px;
  }

  .member--ship>h3 {
    font-size: 20px;
  }

  .card--features ul>li>span {
    padding: 4px 5px;
  }

  .card--features ul>li {
    font-size: 14px;
  }

  .btn__buy {
    padding-inline: 4em;
    padding-block: 0.5em;
  }

  .card--two .btn__buy {
    padding-inline: 2.5em;
  }

  .card--three .btn__buy {
    padding-inline: 2em;
  }

  .content--plans {
    height: 1700px;
  }
}

@media (max-width: 600px) {
  .services--content {
    height: 1700px;
  }
}

@media (max-width: 800px) {
  nav ul {
    flex-direction: column;
    display: none;
  }

  .mobile--nav {
    display: block;
  }

  .desktop--nav {
    display: none;
  }

  .toggle--nav {
    display: block;
  }

  nav ul>li:not(:last-child)::after {
    content: none;
  }

  .content--main {
    grid-template-rows: 100px 1fr;
  }
}

/* --- Media queries ends --- */